<header class="top-bar">
  <div class="container top-bar__content">
    <div class="brand">
      <span class="brand__title">Dynamic Object System</span>
    </div>
    <nav class="nav">
      <a routerLink="/metadata" routerLinkActive="active">Metadata</a>
      <a routerLink="/entities" routerLinkActive="active">Entities</a>
      <a routerLink="/ui-content" routerLinkActive="active">UI Content</a>
      <a routerLink="/options" routerLinkActive="active">Options</a>
      <a routerLink="/classifications" routerLinkActive="active">Classification</a>
    </nav>
  </div>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>
